{% extends "../base.html" %} {% block content %}
<body>
  <header>
    <h1>Upload Your Resume</h1>
  </header>
  <div class="main_div">
    <div class="upload_div">
      <form action="/upload" method="post" enctype="multipart/form-data">
        <label for="resume">Select a PDF file:</label>
        <input type="file" name="resume" accept=".pdf" required />
        <button type="submit">Upload</button>
      </form>
    </div>
  </div>

  <footer>
    <p>&copy; 2024 Resume Uploader</p>
  </footer>
  {% endblock %}
</body>
